
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <link href="/static/skins/default.css" rel="stylesheet" />
    <script src="/static/artDialog/artDialog.basic.js"></script>
    <script src="/static/jquery.js" type="text/javascript"></script>
    <script src="/static/client.js" type="text/javascript"></script>
    
    <title>board chat</title>
  </head>
  <body>
      <h2 style="padding: 10px 10px 0px 10px"> Room: <span id="roomname"></h2><hr>
          
  <div id="log" style="padding: 10px 10px 10px 10px"></div>
   <div id="toolbar">
  <ul id="status">
           <li><a id="usersLink" href="#"><span id="nick" style=""></span> (me) :</a></li>
         </ul>
 <input tabindex="1" type="text" id="entry" />
     

 </div>
  </body>
</html>
